.cv-skills-label {
    color: var(--white);
    margin: 25px;
}

.cv-skills-input
 {
    height: 43.01px;
    width: 551.05px;
    background-color: var(--content-bg);
    border: none;
    color: var(--white);
    border-radius: 5px;
    margin-top: 10px;
}


.cv-skills-delete-icon,
.cv-skills-add-icon {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 8px;
}
.cv-skills-input:focus{
    outline: none;
}