.mylearning-header {
    background-image: url('../../Assets/bgg.png');
    background-size: cover;
    background-position: center;
    height: 250px;
    margin-top: 82px !important;
    text-align: center;
    padding-top: 80px !important;
    position: relative;
}

.header-mylearning{
    color: white !important;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 10px !important;
}
.mylearning-cards{
    margin-top: 60px !important;
    display: flex;
align-items: center;

 
}
.start-lesson-btn{
   text-align: center;
   margin: auto !important;
   background-color: var(--secondColor) !important;
}

