.quiz-wrapper {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: #57404b;
  display: grid;
  place-items: center;
  position: relative;
  background-image: url(../../Assets/slider-bg.png);
}
.quiz-container {
  margin-top: 100px !important;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px !important;
}
.start-quiz{
  margin-top: 100px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -90%);
  width: 750px !important;
  text-align: center;
}
.quiz-card {
  height: 600px !important;
  display: block;
  margin-top: 0em;
  unicode-bidi: isolate;
}
.question-title {
  font-size: 25px !important;
  font-weight: 600 !important;
  margin-bottom: 10px !important;
}

.answer-input {
  transform: scale(2.5);
}
.quiz-ul {
  font-size: x-large;
}
.quiz-answer {
  margin-left: 30px !important;
}
.quiz-title {
  text-align: center;
  font-weight: bold !important;
  font-size: 30px !important;
  color: var(--secondColor) !important;
}
.timer-Badge {

}
.badge {
  background-color: var(--secondColor) !important;
}
.text-center {
  position: relative;
}

.form-buttons {
  text-align: center;
  position: absolute;
  width: 100%;
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  margin-left: 30px !important;
  /* margin-left: -64px !important; */
  width: 600px;
  height: 30px;
}
.form-buttons button {
  border-radius: 34px;
  width: 46%;
  height: 68px;
  border: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  transition: 0.5s all ease;
}
.form-buttons button i {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  transition: 0.5s all ease;
}
.form-buttons .next:hover i,
.apply:hover i {
  transform: translateX(10px);
}
.form-buttons .prev:hover i {
  transform: translateX(-10px);
}
.form-buttons .prev {
  background-color: var(--firstColor);
}
.form-buttons .next,
.apply {
  background-color: var(--secondColor);
}

.thank {
  font-size: 70px;
  text-align: center;
}
