:root {
  --colorBlack: #1a1919;
  --colorWarning: var(--secondColor);
  --colorGreen: #34a853;
  --colorGrey: #d0d0d0;
  --main-color: var(--secondColor);
  --btn-hover: var(--secondColor);
  --bg-cv: #0d1c33;
  --firstColor: #018883;
  --secondColor: #1b3f6b;
}
@media screen and (min-width: 1000px) {
  .img-art {
    height: 550px;
  }
  .nav-link:hover + .nav-link-line {
    opacity: 1;
  }
}
@media screen and (max-width: 1200px) {
  .nav-link:hover + .nav-link-line {
    opacity: 1;
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link:hover + .nav-link-line {
    opacity: 1;
  }
}
.btn-golden-border {
  border: 1px solid var(--firstColor);
  border-radius: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.active-cv,
.bg-gold {
  background-color: var(--firstColor);
}

.background-transparent {
  background-color: rgba(205, 204, 204, 0.199);
}

.btn-gold-hover:hover {
  background-color: var(--secondColor);
}

.form-container input,
.form-container textarea {
  background-color: #ffffff !important;
  border: none;
  color: white !important;
}
.form-container input::placeholder,
.form-container textarea::placeholder {
  color: rgb(160, 160, 160);
}

.form-container input:placeholder-shown,
.form-container input:not(:placeholder-shown),
.form-container textarea:placeholder-shown,
.form-container textarea:not(:placeholder-shown) {
  background-color: #e6e6e6 !important;
  color: rgb(0, 0, 0);
}

.btns-form-part .btn {
  width: 13vw;
}

.golden-dashed-border {
  border: 2px dashed var(--secondColor);
  border-radius: 5px;
}

.gold-txt {
  color: var(--secondColor);
}

.small-txt {
  font-size: 12px;
}

.browse-txt {
  text-decoration: underline;
  cursor: pointer;
}

.cv-container .cv-height {
  height: 842px;
}

.cv-container .bg-blue-side {
  background-color: var(--bg-cv);
}

.txt-border-bottom {
  border-bottom: 3px solid var(--bg-cv);
  width: 12%;
}

.txt-dark-blue {
  color: var(--bg-cv);
}

.tiny-txt {
  font-size: 10px;
}

.bg-transparent2 {
  background-color: rgba(149, 139, 139, 0.199);
}
.add-skill-cv{
  margin-top: -43px;
  margin-left: -30px;
}
.add-experience-cv{
  margin-top: -114px ;
  margin-right: 50px ;
}
.add-link-cv{
  margin-bottom: 15px !important;
  margin-left: 430px !important ;
}
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  position: relative;
}

.step-button {
  transition: 0.4s;
}

.step-button[aria-expanded="true"] {
  background-color: var(--main-color);
  color: #fff;
}

.step-button[aria-expanded="false"] {
  background: none;
  color: white;
}

.done {
  background-color: var(--main-color);
  color: #fff;
}

.step-item {
  z-index: 10;
  text-align: center;
}

#progress {
  -webkit-appearance: none;
  position: absolute;
  width: 95%;
  z-index: 5;
  height: 10px;
  margin-left: 18px;
  margin-bottom: 18px;
}
/* .bg-warning{
  background-color: var(--firstColor) !important;
} */
.bg-warning {
  /* --bs-bg-opacity: 1; */
  background-color:var(--firstColor) !important;
}
.createcv-active {
  background-color: var(--firstColor);
  opacity: 0.9;
color: white;
  box-shadow:  inset 0 3px 5px rgba(0, 0, 0, 0.125);;
}

#progress::-webkit-progress-value {
  background-color: var(--main-color);
  transition: 0.5s ease;
}

.active.page-link,
.page-link.active,
.page-link:hover {
  color: var(--secondColor) !important;
  background-color: transparent !important;
  border: none;
}

a[aria-label="Next page"],
a[aria-label="Previous page"] {
  border: 2px solid var(--secondColor) !important;
  border-radius: 50% !important;
  color: var(--secondColor) !important;
}

.page-item,
.page-link,
.pagination {
  background-color: transparent !important;
  border: none;
  color: white;
  font-size: 20px;
}
.tr-table:hover {
  opacity: 0.9;
}

td {
    padding: 20px !important;
}

.bg-Closed {
  background-color: #d0d0d0;
}

.btn-cv {
  background-color: var(--secondColor);
}

.btn-cv:hover {
  background-color: #f1b708;
}

.article-page-bg {
  background-color: #1a1919;
  min-height: 100vh;
}

.article-page-bg form input::placeholder {
  color: rgba(255, 255, 255, 0.365);
}

.text-ww,
.link-f {
  color: #fff;
}

.text-ww:hover,
.link-f:hover {
  color: var(--secondColor);
}

.select-item:hover {
  background-color: #ffffff;
}

.item-all {
  width: 100%;
}
.label{
  font-weight: 600;
}

@media screen and (min-width: 400px) {
  .btn-search {
    border-radius: 5px;
  }

  .inp-search {
    border-radius: 5px;
  }
}

@media screen and (min-width: 1000px) {
  .img-art {
    height: 550px;
  }

  .btn-search {
    border-radius: 0 5px 5px 0;
  }

  .inp-search {
    border-radius: 5px 0 0 5px;
  }
}
.title {
  text-transform: uppercase;
  color: #d0d0d0;
  margin-top: 50px;
  font-size: 50px;
}
.title2 {
  text-transform: uppercase;
  color: #d0d0d0;
  font-size: 44px;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  display: inline;
  margin-left: -2px;
  margin-bottom: -300px;
}
.con1 {
  margin-top: -40px;
  margin-left: 20px;
}

.content {
  width: 100%;
  background-color: #03030388;
  margin-top: 70px;
  padding: 50px;
}
.business {
  text-transform: uppercase;
  padding-left: 50px;
  font-size: 15px;
  color: #d0d0d0;
}

.line {
  width: 75px;
  height: 2px;
  background-color: #bf9830;
  margin-left: 53px;
  margin-bottom: 10px;
}
.f-art {
  margin-left: 55px;
  font-size: 34px;
  color: #d0d0d0;
  text-transform: uppercase;
}

.icon {
  margin-left: 210px;
  color: #d0d0d0;
}

.hour {
  color: #d0d0d0;
}

.par {
  margin-top: 10px;
  margin-left: 55px;
  font-size: 15px;
  color: #d0d0d0;
}

.s-art {
  margin-left: 55px;
  font-size: 20px;
  color: #d0d0d0;
  text-transform: uppercase;
}

.par2 {
  margin-top: px;
  margin-left: 55px;
  font-size: 15px;
  color: #d0d0d0;
}

.icon2 {
  margin-left: 80px;
  color: #d0d0d0;
  margin-top: -30px;
}

.icon3 {
  margin-left: 99px;
  color: #d0d0d0;
  margin-top: -30px;
}

.Skills {
  background-color: #686867;
  border-radius: 10px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.left-side-cv {
  background-color: rgb(22, 63, 94);
  color: #bebebe;
}
.info-cv p {
  background-color: #fff;
  border-radius: 10px;
  color: rgb(9, 34, 135);
}
.gradute-cv {
  color: rgb(234, 234, 235);
}
.right-side-cv {
  color: #9a9292;
}
.cateigry-cv {
  color: rgb(42, 62, 116);
  flex-direction: column;
}
.line-cv {
  width: 50px;
  height: 2px;
  background-color: rgb(7, 7, 50) !important;
}
.btn-back-cv{
 background-color: var(--firstColor) !important;
 font-size: larger !important;
}
/* animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate(-80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(80px);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}
