.about1container {
  background-size: cover;
  width: 100% !important;
  height: 80vh !important;
}
.about1img {
  width: 700px !important;
  height: 600px !important;
  margin-top: 40px !important;
  margin-left: 100px !important;
  object-fit:cover;
}
.badge {
  margin-bottom: 20px !important;
  padding: 15px !important;
  background-color: var(--secondColor) !important;
  font-size: 11px;
}
.aboutxt {
  right: 30px;
  padding: 30px 0 !important;
  font-weight: 600;
}
.h1badge1 {
  font-weight: bold;
  color: var(--secondColor);
}
.pbadge1 {
  font-size: 18px;
  color: gray;
}
.course {
  color: var(--thirdColor);
  display: inline;
}


.p-about1 {
  color: var(--firstColor);
}
.abouticon1{
  font-size: 20px;
  margin: 15px 0px;
  color: var(--firstColor);
}
.abouticontxt1 {
  font-weight: bold;
  font-size: 20px;
}
.aboutbuttonicon{
  color: aliceblue;
  margin-left: 7px;
}

.aboutbuttonicon:hover {
  scale: 1.1;
}
@media (max-width: 576px) {
  body {
    overflow-x: hidden;
  }
  .about1img {
    width: 350px !important;
    height: 380px !important;
  }
  .abouticontxt {
    font-size: 16px !important;
  }
  .aboutxt {
    margin-bottom: 20px !important;
  }
}
.aboutbuttonn{
  margin-top: -20px !important;
  margin-right: 30px !important;
}
.orange-underline-about1{
margin-right: 60px;
margin-top: -20px;
}