.AllCoursesHeader {
  height: 50vh;
  /* text-align: center; */
  background-image: url("../../Assets/bgg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 55px;
}

.AllCoursesHeader .AllCoursesTitle {
  width: 100%;
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin-bottom: 40px;
}

.AllCoursesHeader .searchDiv {
  width: 40%;
  padding: 10px;
  border-radius: 40px;
  background-color: rgb(255, 255, 255);

}

.AllCoursesHeader .searchDiv input,
.AllCoursesHeader .searchDiv button {
  border-radius: 25px;
  outline: 0;
  border: 0;
}

.AllCoursesHeader .searchDiv input {
  width: 75%;
  padding: 10px 20px;
  font-size: 16px;
}

.AllCoursesHeader .searchDiv button {
  width: 22%;
  height: 50px;
  background-color: var(--firstColor);
  color: white;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1.2px;
  transition: .5s all ease;
}

.AllCoursesHeader .searchDiv button:hover {
  background-color: var(--secondColor);
  letter-spacing: 0px;
}

.asideCategory {
  margin: 50px 0 0 20px !important;
}

.asideCategory h4 {
  color: var(--secondColor);
  font-size: 20px;
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px 0;
}

.asideCategory h4 i {
  color: var(--firstColor);
}

.form-check {
  margin-left: 30px;
  text-align: center;
}

.form-check-input[type=checkbox] {
  border-radius: 2px;
  margin-right: 10px;
  padding: 7px;
}

.asideCategory .form-check-label {
  margin-left: -40px !important;
  color: var(--secondColor) !important;
  font-size: 17px;
  font-weight: 500;
}

.form-check-input:checked {
  background-color: var(--firstColor) !important;
  border-color: var(--firstColor) !important;
}

/* .course-section {
  background: #000;
} */

.bread-crumb {
  background-image: url("../../Assets/coursebreadcramb.png");
  background-size: cover;
}

.homeCoursesSection {
  background-image: url("../../Assets/slider-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*                 */

.custom-box {
  padding: 20px;
  width: 100% !important;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.CourseInfoMainData {
  width: 100% !important;
  margin-top: 60px !important;
  background-image: url(../../Assets/bgg.png);
  background-size: cover !important;
  color: aliceblue;
  padding-bottom: 20px !important;
}

.CourseInfoMainData_header {
  font-size: 35px !important;
  padding: 40px 30px 0px !important;
  line-height: 50px !important;
}

.CourseInfoMainData_p {
  font-size: 18px !important;
  line-height: 35px !important;
  color: #fff !important;
}

.created_by {
  font-size: 15px !important;
  color: #fff;
}

.created-by-instructor {
  font-size: 15px !important;
  color: var(--firstColor) !important;
}

.selection {
  display: flex;
  align-items: center;
  padding-bottom: 10px !important;
  margin-left: 45px !important;
}

.language-icon {
  margin-right: 8px !important;
}

.calender-icon {
  padding: 15px 10px !important;
}

.clock-icon {
  padding-left: 20px !important;
}

select {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.last-updated {
  font-size: 12px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */
.instructorimg {
  width: 150px !important;
  height: 150px !important;
  margin: 30px !important;
}

.instructorinfo {
  width: 100% !important;
}

.asidecourseimg {
  width: 100% !important;
  padding-bottom: 30px !important;
}

.asideorder {
  font-size: 20px !important;
}

.spanaside {
  margin-right: auto !important;
}

.icon {
  padding-right: 20px !important;
}

.info-card {
  padding: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(222, 220, 220);
  padding: 5px 10px !important;
}

.icon {
  font-size: larger;
}

.social-icons {
  text-align: center !important;
}

.enrollbtn {
  background-color: var(--secondColor) !important;
  border: none !important;
  margin-top: 30px;
  width: 100% !important;
  display: block;
  font-size: 17px !important;
  padding: 10px !important;
  margin-bottom: 20px;
  font-weight: 600 !important;
}

.enrollbtn:hover {
  opacity: 0.8;
  letter-spacing: 1.5px;
}

.instructor_profile {
  background-color: var(--secondColor) !important;
  border: none !important;
  margin-top: 30px;
  font-size: 12px !important;
  padding: 8px 4px !important;
  margin-bottom: 20px;
  font-weight: 500 !important;
  color: aliceblue;
  width: 150px !important;
  border-radius: 7px;
}

.instructor_profile a {
  width: 150px !important;
  line-height: 25px !important;
}

.instructor_social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--secondColor) !important;
}

.instructor_social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.instructor_social-icons a {
  display: block;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: #fff;
}

.instructor_facebook {
  border: 1px solid rgb(234, 232, 232) !important;
  color: rgb(47, 42, 201) !important;
}

.instructor_linkedin {
  border: 1px solid rgb(234, 232, 232) !important;
  color: #0077b5 !important;
}

.instructor_twitter {
  border: 1px solid rgb(234, 232, 232) !important;
  color: black !important;
  cursor: pointer;
}

.overview_header,
.overview_what,
.overview_req {
  font-size: 25px !important;
  font-weight: 700 !important;
  margin-left: 20px !important;
  color: var(--secondColor);
}

.overview_content {
  margin-left: 30px !important;
  list-style-type: disc !important;

}


/* Social Media Icons */
/* .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  } */
/* .social-icons a {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    color: #fff;
  }
  .facebook {
    background-color: #1877f2;
  }
  .linkedin {
    background-color: #0077b5;
  }
  .youtube {
    background-color: #e70532;
  } */
.price {
  margin-left: 30px !important;
}

.info-tag {
  display: flex !important;
  margin-left: 40px !important;
  color: var(--secondColor);
  font-size: 18px !important;
}

@media (max-width: 576px) {
  .custom-box {
    box-shadow: none;
  }
}

@media (min-width: 576px) {
  .custom-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 768px) {
  .custom-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 992px) {
  .custom-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 1200px) {
  .custom-box {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}



/* course video  */

.vid_container {
  margin-top: 40px !important;

}

.video-player {
  margin-left: 180px !important;
  margin-top: 100px !important;

}

.video-player iframe {
  display: block;
}

.video_title {
  margin: 30px !important;
  text-align: center !important;
  font-size: 20px !important;
  color: var(--firstColor);
  cursor: pointer;
}

.playlist_header {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  cursor: pointer;
  color: var(--firstColor);
}

.playlist_header:hover,
.video_title:hover,
.fixed-video-list li:hover {
  color: var(--firstColor);
}

.side-video-content {
  flex: 3;
  background-color: rgb(252, 252, 252);
  margin-top: 70px !important;
  padding-bottom: 56px !important;
}

.course-sidebar-head {
  border-bottom: 1px solid #d7dadb !important;
}

.course-container {
  margin-top: 95px;
  overflow-y: hidden !important;

}

.fixed-video-list li {
  padding: 18px 5px !important;
  border-bottom: 1px solid rgb(225, 224, 224) !important;
  cursor: pointer;
  font-size: 18px !important;
  color: var(--secondColor);
}

.video_btn {
  display: inline-block;
  cursor: pointer;
  margin-top: 60px !important;
  width: 150px !important;
  background-color: var(--secondColor) !important;
  border: none !important;
  color: #d7dadb !important;
  font-size: 17px !important;
  margin: 60px 100px !important;
  border-radius: 8px !important;
  font-weight: 600 !important;
}

.video_btn:hover {

  letter-spacing: 1px !important;
  border: 2px solid #4CAF50;
}

.course-title {
  color: var(--secondColor);
  font-weight: 700;
  font-size: 35px;
}

.course-title span {
  color: var(--firstColor);
}

.orange-underline-course {
  margin-left: 805px !important;
  margin-top: -30px !important;
}

/* @media (max-width: 990px){
.course-container{
flex-direction: column;
align-items: center;
}
  } */