.navbar {
  width: 100% !important;
  background-color: #ffffff;
}

.EduLogo {
  width: 170px;
}

.navbar-nav .homeNav,
.navbar-nav .nav-link {
  color: var(--secondColor) !important;
  padding: 7px !important;
  margin: 0 15px !important;
  font-weight: 700;
  font-size: 18px;
}

.dropdown-toggle::after {
  border-top: 0.3em solid var(--firstColor) !important;
}

.dropImag {
  display: flex;
  justify-content: baseline;
  margin-top: -7px;
}

.dropImag .dropdown-menu {
  width: 200px;
}

.dropImag .dropdown-menu[data-bs-popper] {
  left: -100px;
  top: 57px !important;
}

.dropImag .dropdown-toggle::after {
  display: none !important;
}

.dropdown-menu {
  top: 50px !important;
}

.dropdown-menu .dropdown-item {
  padding: 5px !important;
  margin: 5px 0 !important;
  text-align: center;
  transition: 0.7s all ease;
}

.dropdown-menu .dropdown-item:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
}

.dropdown-menu .dropdown-item:active {
  background-color: transparent !important;
}

.dropdown-menu .dropdown-item a {
  color: var(--firstColor) !important;
  font-weight: 600;
  transition: 1s all ease;
  padding: 5px 30px !important;
}

/* .auth-div{
    margin-top: 12px !important;
} */

.auth {
  padding: 10px 20px !important;
  background-color: var(--thirdColor);
  border-radius: 7px;
  transition: 0.6s all ease;
}

.auth:nth-child(2) {
  margin-left: 10px !important;
}

.auth a {
  color: white;
  font-weight: 700;
  padding: 7px !important;
}

.auth:hover {
  background-color: var(--firstColor);
  opacity: 0.8;
}

.shadow-nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}

@media only screen and (max-width: 1200px) {
  .offcanvas-header {
    padding: 15px 40px !important;
    background: var(--secondColor);
    color: white;
  }

  .dropdown-menu {
    width: 80% !important;
    margin: auto !important;
  }

  .navbar-nav .homeNav,
  .navbar-nav .nav-link {
    margin: 7px 25px !important;
    width: 70% !important;
    padding: 10px !important;
  }

  .auth-div {
    width: 50% !important;
    flex-direction: column !important;
  }

  .auth-div .auth {
    padding: 15px 20px !important;
  }

  .auth-div .auth a {
    padding: 20px !important;
    font-weight: 700 !important;
    font-size: 18px !important;
  }

  .auth:nth-child(2) {
    border-left: none;
    margin-left: 0 !important;
  }

  .auth {
    padding: 0 20px !important;
    background-color: transparent;
    border-radius: 0;
  }

  .auth a {
    color: var(--secondColor);
  }
}

.userfeild {
  font-weight: 700;
  color: var(--firstColor);
  font-size: 20px;
}

.navFormCheck .form-check-label{
  color:var(--secondColor) !important;
}