.footer {
  background-image: url(../../Assets/bgg.png);
  color: white;
  height: 55vh;
}

.footer-h1,
.quicklinks-header,
.contactus-header {
  padding: 20px 0px !important;
}

.google {
  background: conic-gradient(from -45deg,
      #ea4335 110deg,
      #4285f4 90deg 180deg,
      #34a853 180deg 270deg,
      #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.footer-p {
  text-align: left !important;
  color: rgb(203, 203, 203) !important;
}

.linkedin {
  color: rgb(45, 45, 169);
}

.iconspace {
  margin: 20px 8px;
}

.contacticon {
  padding: 10px 5px;
}

.Quicklinksp {
  font-weight: 500;
  color: rgb(203, 203, 203);
  line-height: 35px;
  text-align: left;
  transition: 0.5s all ease-in;
}

.footerLinks:hover {
  color: var(--thirdColor) !important;
}

.Quicklinksp:hover {
  transform: translate(4%) !important;
}

.connection-p {
  margin-left: 10px !important;
}

dl,
ol,
ul {
  padding: 0 !important;
}

.connection-p {
  color: rgb(203, 203, 203) !important;
}

@media screen and (max-width: 768px) {
  .footerp {
    text-align: left !important;
    width: 100% !important;
    width: 180px !important;
  }

  .logo4 {
    margin-left: -200px;
  }


}

@media (max-width: 576px) {
  .footerp {
    margin: 0px !important;
  }
}

@media (max-width: 991px) {
  .footer {
    text-align: center;
  }

  .footerp {
    width: 180px !important;
    margin-left: -100px;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 !important;
  }

  .logo4 {
    margin-left: -200px;
  }
}

@media (max-width: 1200px) {
  .footer {
    text-align: center;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0 !important;
  }

  h2 {
    text-align: start !important;
  }

  .contacts {
    text-align: left;
  }

  .logo4 {
    margin-left: -120px;
  }
}