/* .slider { */
/* background-image: url("../../../Assets/slider-bg.png") !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
/* background-color: white !important; */
/* height: 100vh !important; */
/* }

.carousel {
    height: 100vh !important;
    width: 100% !important;
}

.carousel-control-next-icon {
    background-image: url("../../../Assets/next.png") !important;
}

.carousel-control-prev-icon {
    background-image: url("../../../Assets/pre.png") !important;
} */

/* .img-slide {
    height: 100vh !important;
    object-fit: cover; */
/* margin-top: 120px !important; */
/* height: 550px;
    width: 650px;
    border-radius: 50%;
    object-fit: cover; */
/* animation: animate 1.5s alternate infinite; */
/* } */


/* @keyframes animate {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
} */


/* .pen {
    margin-top: 360px !important;
    margin-left: -20px !important;
} */

/* .slider-info-header {
    font-size: 50px;
    font-weight: 600;
    color: black;
}

.slider-info-header span {
    color: var(--secondColor);
} */

header {
    background-image: url("../../../Assets/slider-bg.png");
    background-size: cover;
    height: 100vh !important;
    margin-top: 0px !important;
}

.header-row {
    margin-top: 110px !important;
}

.himg {
    width: 70% !important;
    animation: animate 2s alternate infinite;
    /* width: 750px !important;
    height: 550px !important; */
}

.header-info {
    font-size: 50px;
    font-weight: 700;
    color: var(--secondColor);
    margin-top: 90px !important;
    margin-bottom: 40px !important;
    width: 75% !important;
    line-height: 1.5;
}

.headerBtn {
    background-color: var(--firstColor) !important;
    padding: 0 30px !important;
    height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: white !important;
    opacity: 0.8;
    font-weight: 600 !important;
}

.headerBtn i {
    margin-left: 15px !important;
    transition: .8s all ease;
}

.headerBtn:hover {
    opacity: 0.7;
}

.animateImage {
    animation: animate2 2s alternate infinite;
    margin-left: 300px !important;

}

.education {
    color: var(--firstColor);
    display: inline;
}


@keyframes animate {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes animate2 {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}
@media (min-width: 200px) and (max-width: 575px){
    .himg{
        display: none !important;
    }
    .animateImage{
        display: none;
    }
}